[submodule "leaderboard"]
	path = leaderboard
	url = https://github.com/mhnazeri/leaderboard.git
[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/mhnazeri/scenario_runner.git
[submodule "carla_project"]
	path = carla_project
	url = https://github.com/mhnazeri/carla_project.git
